<div class="container mt-5">
    <div align="right" class="mb-3">
        <a [routerLink]="''" *ngIf="isProductfull()"><button mat-button>+ Add more</button></a>
        <button *ngIf="isProductfull()" (click)="checkout()" color="primary" mat-raised-button>Checkout</button>
    </div>
    <table  *ngIf="isProductfull()" mat-table
           [dataSource]="cartDetails"
           class="mat-elevation-z8">

        <ng-container matColumnDef="Name">
            <th mat-header-cell
                *matHeaderCellDef> Name </th>
            <td mat-cell
                *matCellDef="let element"> {{element.product.bookName}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell
                *matHeaderCellDef> Description </th>
            <td mat-cell
                *matCellDef="let element"> {{element.product.bookDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
            <th mat-header-cell
                *matHeaderCellDef> Price </th>
            <td mat-cell
                *matCellDef="let element"> {{element.product.bookActualPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="Discounted Price">
            <th mat-header-cell
                *matHeaderCellDef> Discounted Price </th>
            <td mat-cell
                *matCellDef="let element"> {{element.product.bookDiscountedPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell
                *matHeaderCellDef> Action </th>
            <td mat-cell
                *matCellDef="let element"> 
                <button mat-raised-button color="warn" (click)="delete(element.cartId)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>
<div *ngIf="!isProductfull()" class="container mt-5">
    <div class="card text-center" style="padding:20px;">
        <h1>You Cart is <b style="color: red;">Empty !!</b></h1>
        <a [routerLink]="''" *ngIf="!isProductfull()"><button mat-button>+ Add more</button></a>
    </div>
</div>

