<div class="container mt-5">
  <div class="card p-3">
    <div class="row">
      <div class="col-6">
        <form
          #orderForm="ngForm"
          ngNativeValidate
          (ngSubmit)="placeOrder(orderForm)"
        >
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Full name</mat-label>
            <input
              matInput
              placeholder="Full name"
              [(ngModel)]="orderDetails.fullName"
              name="fullName"
              required
              #fullName="ngModel"
              [class.is-invalid]="fullName.invalid && fullName.touched"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Full address</mat-label>
            <input
              matInput
              placeholder="Full address"
              [(ngModel)]="orderDetails.fullAddress"
              id="fullAddress"
              name="fullAddress"
              required
              #fullAddress="ngModel"
              [class.is-invalid]="fullAddress.invalid && fullAddress.touched"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contact number</mat-label>
            <input
              matInput
              placeholder="Contact number"
              [(ngModel)]="orderDetails.contactNumber"
              name="contactNumber"
              required
              #contactNumber="ngModel"
              [class.is-invalid]="
                contactNumber.invalid && contactNumber.touched
              "
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Alternate contact number</mat-label>
            <input
              matInput
              placeholder="Alternate contact number"
              [(ngModel)]="orderDetails.alternateContactNumber"
              name="alternateContactNumber"
              required
              #alternateContactNumber="ngModel"
              [class.is-invalid]="
                alternateContactNumber.invalid && alternateContactNumber.touched
              "
            />
          </mat-form-field>

          <div align="right">
            <button type="submit" mat-stroked-button color="primary">
              Place Order
            </button>
            <button type="reset" mat-stroked-button color="warn">Clear</button>
          </div>
        </form>
      </div>
      <div class="col-6">
        <table class="table">
          <thead class="thead">
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let product of productDetails">
              <td>{{ product.bookName }}</td>
              <td>{{ product.bookDiscountedPrice }}</td>
              <td>
                <select
                  #quantity
                  class="form-select"
                  [ngModel]="getQuantityForProduct(product.productId)"
                  (change)="
                    onQuantityChanged(quantity.value, product.productId)
                  "
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </td>
              <td>
                {{
                  getCalculatedTotal(
                    product.productId,
                    product.bookDiscountedPrice
                  )
                }}
              </td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td>Total</td>
              <td>{{ getCalculatedGrandTotal() }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
